.c1{
    text-align: left;
    color: black;
    border: 1px;
    padding-left: 10px;
    line-height: 30px;
    width:50%;
    margin-left: 21.5%;
    font-family: Montserrat;
    font-size: 87%;
    border-left:4px solid rgb(213, 214, 213);
    margin-top: 30px;  
}

.cnew{
    text-align: left;
    color: black;
    border: 1px;
    padding-left: -10px;
    line-height: 30px;
    width:40%;
    margin-left: 25%;
    font-family: Montserrat;
    font-size: small;
    border-left:4px solid rgb(213, 214, 213);
    margin-top: 60px;
    max-height: 100px;
}

.c2{
    text-align: left;
    color: black;
    border: 1px;
    padding-left: 40px;
    line-height: 30px;
    width:40%;
    margin-left: 21.5%;
    font-family: Montserrat;
    font-size: small;
    border-left:4px solid rgb(213, 214, 213);
    margin-top: 30px;
    max-height: 100px;  
}
.ch1{
    width: 1px;
    margin-top: -70px;
    text-align: left;
    margin-left: 190px;
}
.ch{
    width: 1px;
    margin-top: -70px;
    text-align: left;
    margin-left: -120px;
}

.bolded { 
    font-weight: bold;
}

.containernew{
    background: linear-gradient(90deg, white, #947200);
    width: 99%;
    border-radius: 10px;
}

.nblock{
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px;
    height: 380px;
    width: 64%;
    margin-top: 6%;
}

.block{
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px;
    height: 380px;
    width: 64%;
    margin-top: 6%;
}
#clm{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
}

#Jblk{
    padding-left: 0px;
}


div.containernew1{
    height: auto;
    background: linear-gradient(90deg,#0e4d3b,white);
    width: 95%;
    margin-left: 25px;
    border-radius: 10px;  
}

.block3{
    text-align: center;
    background-color: white;
    color: black;
    border: 1px;
    height:100%;
    width: 57%;
    margin-top: 2%;
    margin-left: 21.5%;
    
}

#cland4con{
    margin-bottom: 4%;
}

.block4{
    justify-self: right;
    background-color: white;
    color: black;
    border: 1px;
    height:430px;
    margin-left: 40%;
    background-image: url('../assets/DesignImages/Dashboard_1.jpg');
    background-size:cover;  

}
#bt1{
    color: #fff;
    background-color:#0e4d3b;
    width: 30%;
    box-sizing: border-box;
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: -1px;
    height: 50px;
    font-size: medium;
    font-family:Exo;
    float:right;
    margin-top: -40px;
    margin-right: 0.5%;
}

.block5{
    justify-self: right;
    background-color: white;
    color: black;
    border: 1px;
    height:430px;
    margin-left: 40%;
    background-image: url('../assets/DesignImages/Dashboard_2.png');
    background-size:cover;
}

#chart{
    width: 55%;
    float:right;
    margin-top: 2%;
}

#clandcont{
    text-align: left;
}

div.btcon{
    margin-top: 150px;
    width: fit-content;
}

#hd1 {
    font-family: Exo;
    color: #0e4d3b;
    padding: 20px;
    font-size: 30px;
}

.coln {
    float: left;
    width: 45%;
}

#bt3{
    width:fit-content;
    border-radius: 5px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 1px black;
    color: #fff;
    background-color:#be911f;
    box-sizing: border-box;
    font-size: medium;
    font-family:Exo;
    margin-left: 10px;
    margin-right: 50px;
}

.list{
    color:#0e4d3b;
    font-family: Exo;
    text-align: left;

    font-weight: 600;
    line-height: 90%;
}
#xx{
    color: #947200;
    font-size:14px;
    font-family: Montserrat;line-height: 40px;
}

#kss{
    font-family: 'Exo';
    color: #0c0c0b;
    float: left;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    max-width: 75%;
}

.ksss{
    font-family: 'Exo';
    color: #0c0c0b;
    float: left;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    max-width: 65%;
    margin-left: 18px;
}

#hd13{
    font-family: 'Exo';
    color: #836518;
    align-self: start;
    float: left;
    font-size: 34px;
}

.piccontainer{
    margin-bottom: 10px;
    margin-top: -40px;
}

#ba{
    margin-right: 30%;
}

#dc{
    margin-right: 45%;
}
#da{
    margin-left: -55%;
}

#anlypic{
    margin-top: 0px;
    margin-left: 0px;
}

@media screen and (max-width:930px) {

    .colmn{
        width: 50%;
    }

    #clm{
        margin-top: 10px;
    }
    .c1{
        height: auto;
        width: auto;
        margin-left: 10px;
    }

    #xx{
        line-height: 20px;
        font-size: 10px;
    }
    
    .block4{
        height: 175px;;
        width: 175px;
        margin-top: 0px;
        float: right;
    }
    .block{
        height: 165px;
        width: 90%;
        margin-left: 0px;
        margin-top: 15px;
        float: left;
    }
    #hd13{
        font-size: 15px;
    }

    #kss{
        max-width: fit-content;
        line-height: 10px;
        font-size: 8px;
    }

    #bt1{
        width:fit-content;
        height: fit-content;
        margin-top: -7px;
        font-size: 9px;
        border-radius: 2px;
        box-shadow: none;
    }

    .ch1{
        width: 28%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .cnew{
        width: 72%;
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size:10px;
        line-height: 20px;
        max-height: fit-content;
    }
    #clandcar{
        margin-left: 0px;
        margin-top: 0px;
        height: 100px;
        width: 100px;
    }
    .coln{
        width: 50%;
        
    }
    #chart{
        width: 50%;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
    .block3{
        width: auto;
        margin-left: 0px;
    }
    #hd1{
        font-size: 15px;
    }
    .ksss{
        font-size: 10px;
        max-width: fit-content;
    }
    #anlypic{
        margin-top: 0px;
        margin-left: 0px;
        height: 200px;
        width: 180px;
    }
    div.containernew1{
        margin-left: 5px;
    }
    #bt3{
        width: fit-content;
        height: fit-content;
        font-size: 10px;
        border-radius: 3px;
    }
    #cland4con{
        margin-bottom: 0px;
    }

    .c2{
        margin-left: 10px;
        padding-left: 10px;
        max-height: fit-content;
        font-size: 10px;
        width: 57%;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .ch{
        margin-left: 0px;
        margin-top: 0px;
        width: 40%;
    }
    #barpic{
        margin-left: 0px;
        margin-top: 0px;
        height: 150px;
        width:150px
    }
    .block5{
        height: 175px;
        width: 180px;
        margin-top: 0px;
        float: right;
    }
    .nblock{
        height: 165px;
        width: 90%;
        margin-left: 0px;
        margin-top: 15px;
        float: left;
    }
    .piccontainer{
        margin-top: 0px;
    }
    #cland5con{
        width: 33.3333%;
        margin-bottom: 0px;
    }
    #ba,#dc,#da{
        margin-top: auto;
        margin-left: auto;
        height: 80px;
        width: 50%;
        margin-right: auto;
    }
}