.footer{
    background-color: rgba(122,114,114,0.39);
}
.main-footer-copyright {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 30px;
    font-size: 1.5rem;
}
    hr {
      width: 100%;
      margin: 0 auto;
      border-width: 3px;
      border-color: #928B8C;
    }
#foot{
    margin-top: 30px;
    text-align: center;
    font-family: 'Oswald';
    color: black;
    font-size: 14px;
    margin-left: -400px;
    margin-right: 400px;
}

#foot1{
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat';
    color: black;
    font-size: 14px;
}

#foot2{
    margin-top: 30px;
    text-align: center;
    font-family: 'Exo';
    color: black;
    font-size: 14px;
    margin-left: -400px;
    margin-right: 400px;
}

#copy{
    color: black;
    font-size: 12px;
    font-family:'Exo';
}
h6{
    font-weight: bold;
    font-size: 15px;
}

#ftli{
    color: #947200;
    font-weight: 300;
    font-family: Oswald;
    font-size: 15px;
}

#ftli:hover{
    color: black;
    cursor: pointer;
}

#fthd{
    font-family: Exo;
    font-size: 15px;
}

#sicon{
    margin-left: 0px;
    margin-top: 0px;
    
}

#sicon:hover {
    cursor: pointer;
    filter: invert(65%);
    }

@media screen and (max-width: 930px) {
    #foot2,#foot{
        margin-left: 0px;
        margin-right: 0px;
    }
    #foot1, #foot{
        width: 50%;
    }
    #foot2{
        margin-left: 1%;
        width: 100%;
    }
}