
.carousel-item{
    background-color: #947200;
    /* min-height: 100%; */
    height: 335px;
    margin-top: 0px;

}

.carousel{
    padding: 0;
}
.my-3{
    margin-top: 0rem!important;
    margin-bottom: 0rem!important;

}
.Box1{
    text-align: center;
    background-color: #115542 ;
    color: black;
    border: 1px;
    padding: 10px;
    height:315px;
    /* width: 650px; */
    /* margin-left: 4%; */

    /* height:340px; */
}

.Box2{
    text-align: center;
    background-color:#115542;
    color: black;
    border: 2%;
    border-top: #115542;
    border-color: #115542;
    padding: 10px;
    margin-left: 5%;
    /* width: 730px; */
    /* height:340px; */
}
#rpl{
    margin-top: 1%;
    margin-bottom: 1%;
}

.dlm{
    background-color:#be911f;
    border: 5px;
}

#bt2{
    color: #fff;
    background-color:#947200;
    /* width: 100%; */
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px black;
    height: 45px;
    font-size: 19px;
    font-family:Exo;
    margin-bottom: 5px;

    -webkit-box-shadow: inset 0 0 30px rgb(85, 85, 87);
    -moz-box-shadow: inset 0 0 30px rgb(32, 32, 32);
    box-shadow: inset 0 0 30px rgb(63, 63, 63);
}
#ks1{
    height:340px;
   
}

svg{
    margin-top:-4px;
    margin-right: 4px;
}

#bt5{
    color: #fff;
    background-color:#0a382b;
    width: 140px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px black;
    height: 50px;
    font-size: 17px;
    font-family:Exo;
    margin-bottom: 5px;
}

.block1{
    text-align: center;
    /* background-color:#be911f; */
    color: black;
    border: 1px;
    padding: 10px;
    height: 350px;
    width: 400px;
    background-image:url('../assets/DesignImages/Feature_Image.png') ;
    background-size:contain;
    margin-top: 10%;
    margin-left: 30%;
}

.block2{
    text-align: center;
    /* background-color: #be911f; */
    color: black;
    border: 1px;
    padding: 10px;
    height: 290px;
    width: 550px;
    margin-top: 15%;
    
}

#roh{
    margin-left: 6%;
}

.colmn{
    float: left;
    width: 36%;
    padding: 0 0px;
    margin-bottom: 2%;
}

#accCon{
    font-family: Montserrat;
}

#hd11{

    text-align: center;
    color: #be911f;
    font-family: Exo;
    font-size: 30px;
}

#next{
    margin-top: 19%;
}

.container4{
    background-color: #a57e1c;
}

#hd12{
    font-family: Exo;
    color: aliceblue;
    float: left;
    margin-left: 5%;
    font-size: 350%;
}

#cl{
    margin-left: -20px;
}

#ks11{
    font-family: Exo;
    color: aliceblue;
    margin-left: 5%;

    float: left;
    text-align: left;
    font-size: medium;
}

input:required {
    border-color: #800000;
    border-width: 3px;
  }
  
  input:required:invalid {
    border-color: #c00000;
  }

#par{
    text-decoration: underline;
    color: #947200;
    text-align: end;
    font-family: Montserrat;
    cursor: pointer;
}