#ipb{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(247, 243, 243);
    border-radius: 8px;
    font-family: Montserrat;
    box-sizing: border-box;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#k{
    margin-left: 100px;
    margin-top: 50px;
    font-family: Exo;
    font-size: 14px;

    
}

#gitbold{
    color: #0a382b;
}

label{
    color:black
}

img{
    margin-top: 50px;
    margin-left: 150px;
    object-fit: contain;
}

label{
    float: left;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color: #947200;
    font-size:30px;

}

#para{
    text-decoration: underline;
    color: #947200;
    text-align: end;
    font-family: Montserrat;
}

#bt{
    color: #fff;
    background-color:#be911f;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
    height: 50px;
    font-size: larger;
    font-family:Exo;
    margin-bottom: 40px;
}

.cartxt{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 22px;
    text-align:center;
    background: linear-gradient(180deg, #0a382b, #646060);
    /* background-image: url('./AT_Snapshots/DesignImages/card.jpg'); */
    background-size: cover;
    color: white;
    width: 60%;
    float: right;
    margin-top: -13px;
    height: 250px;
    margin-right: 95px;
    margin-bottom: 30px;
    font-family: Exo;
    font-size: large;
}

#w{
    font-size: 190%;
}

#chbx{
    float: left;
    margin-right: 5px;
}

#csiginiss{
    text-decoration: none;
}

@media screen and (max-width:930px) {
    #k{
        margin-left: 0px;
        font-size: 12px;
        width: 100%;
        margin-top: 17px;
        padding-left: 25%;
        padding-right: 25%;
        /* margin-bottom: 26px; */
    }
    #k2{
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #k3 {
        width: 100%;
        padding-top: 16%;
        padding-bottom: 15%;
    }
    #sgin{
        margin-bottom: 20px;
        font-size: 20px;
    }
    #cp{
        margin-left: 0px;
        height: 78px;
        width: 50%;
        margin-top: 25px;
        margin-bottom: 5px;
        float: left;
    }
    .cartxt{
        padding: 10px;
        width: 50%;
        height: auto;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        font-size: 7px;
    }
    #ipb{
        padding: 5px 10px;
        font-size: 10px;
        margin: 0px;
        margin-bottom: 10px;
    }
    #bt{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        font-size: 15px;
        box-shadow: none;
        padding: 4px;
    }
    #w{
        font-size: 13px;
    }
    #chbx{
        margin-top: 2px;
        margin-right: 0px;
    }
    #par{
        font-size: 9px;
    }
    #spip{
        margin-bottom: 0px;
    }
}